@model CW_ADB_MVC.Models.Tanks

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TankType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TankType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TankVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TankVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TankWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TankWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TankMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TankMaterial)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к общему списку", "Index")
        </div>
    }
</div>
