@model CW_ADB_MVC.Models.Fuels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Данные по виду толива</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelDensity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelDensity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирвать", "Edit", new { id = Model.FuelID }) |
    @Html.ActionLink("Вернуться к общему списку", "Index")
</p>
